@import url(minireset.css);

@import url(./styles/sidebar.css);
@import url(./styles/main.css);
@import url(./styles/projects-dialog.css);
@import url(./styles/tasks-dialog.css);

@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0000-007F, U+0080-00FF, U+0100-017F;
  src: url("../assets/fonts/Inter-Regular.woff2") format('woff2'),
       url("../assets/fonts/Inter-Regular.woff") format('woff');
}

:root {
  --bg: #161515;
  --text: #f1f0f0;
  --border: #313131;
  --blue: #89b4fa;
  --sky: #89dceb;
  --hover: rgba(41, 41, 41, 0.4);
}

* {
  font-family: "Inter", system-ui;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
  overflow-y: hidden;
}

.opacity {
  opacity: 0.6;
}

.divider {
  border: 1px solid var(--border);
  margin: 0 10px;
}

.btn {
  flex: 1;
  background-color: transparent;
  border: 2px solid var(--border);
  color: var(--text);
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--hover);
  transition-duration: 200ms;
}

@media only screen and (max-width: 800px) {
  body {
    grid-template-columns: 1fr !important;
  }
}